.contacts-list {
    .x-dataview-item {
        align-items: baseline;
        background-color: $grid-row-cell-background-color;
        display: grid;
        gap: $grid-cell-inner-padding;
        grid-template-columns: auto 1fr auto 1fr auto;
        line-height: $grid-row-cell-line-height;
        padding: ($grid-cell-inner-padding * .5) $grid-cell-inner-padding $grid-cell-inner-padding;

        &:not(:first-child) {
            border-top: 1px solid $grid-row-border-color;
        }
    }

    button {
        font-size: 1em;
        padding: 0;
    }

    .guardianship {
        label {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: .25em;
        }
    }

    .forward-relationship {
        text-align: right;
    }

    .relationship-label {
        border-bottom: 1px dashed;
        cursor: pointer;

        &:hover,
        &:focus {
            border-bottom-style: solid;
        }
    }

    .relationship-delete {
        text-align: right;
    }

    .relationship-delete-btn {
        background: none;
        border: 0;
        padding: 0;
    }

    .slate-grid-phantom {
        padding-top: ($grid-cell-inner-padding * .5);
    }
}
