.contacts-list {

    .empty-text {
        padding: 1em;
    }

    .x-dataview-item,
    .relationship-creator {
        background-color: $grid-row-cell-background-color;
        line-height: $grid-row-cell-line-height;
        padding: ($grid-cell-inner-padding * .5) $grid-cell-inner-padding $grid-cell-inner-padding;

        &:not(:first-child) {
            border-top: 1px solid $grid-row-border-color;
        }
    }

    .x-dataview-item {
        align-items: baseline;
        display: grid;
        gap: $grid-cell-inner-padding;
        grid-template-columns: 1fr auto 1fr auto;

        &.relationship-phantom {
            background-color: darken($grid-row-cell-background-color, 10);
        }
    }

    button {
        font-size: 1em;
        padding: 0;
    }

    .guardianship {
        label {
            align-items: center;
            display: flex;
            flex-direction: column;
            font-size: .75em;
            gap: .25em;
            text-transform: uppercase;
        }
    }

    .forward-relationship {
        text-align: right;
    }

    .relationship-label {
        border-bottom: 1px dashed $link-color;
        cursor: pointer;

        &:hover,
        &:focus {
            border-bottom-style: solid;
        }

        .label-empty {
            font-style: italic;
        }
    }

    .label-icon {
        font-size: .875em;
    }

    .relationship-delete {
        text-align: right;
    }

    .relationship-delete-btn {
        background: none;
        border: 0;
        padding: 0;
    }

    .relationship-creator {
        color: #888;
        cursor: pointer;
        padding-top: $grid-cell-inner-padding;

        .fa-plus-circle {
            color: $success-color;
            margin-right: .125em;
        }

        &:hover {
            background-color: $grid-row-cell-over-background-color;
        }

        &:focus {
            background-color: $grid-row-cell-focus-background-color;
        }
    }
}
