.emergence-cms-dualview,
.emergence-cms-dualview.x-body {
    color: inherit;
    font: inherit;
    line-height: inherit;
}

.emergence-cms-preview {
    margin-right: 1.5em;
    
    .reading-width {
        max-width: 100%;
    }
}