$grid-grouped-header-background-color: tint($dark-ui-color, 90%);
$grid-grouped-header-border-color: tint($dark-ui-color, 75%);
$grid-grouped-header-border-width: 0 0 1px 0;
$grid-grouped-header-padding: .4em;

$grid-grouped-title-color: $dark-ui-color;