$base-color: #ccc;
$accent-color: #00547b;
$dark-ui-color: #153b4c;

$muted-color: #777;

$font-family: Lato, 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
$font-size: 15px;

/**
  * Default font-size to use for glyphs
  */
$glyph-size: 14px;