.slate-header {
    @include background-image(linear-gradient( lighten(#1d5167, 5), darken(#184559, 5) ));
    border-color: $dark-ui-color;
    border-bottom: 1px solid black;
    @include box-shadow(0 0 .5em black);
    color: white;
    padding: 5px 15px;
    z-index: 2;
    
    .header-logo {
        display: block;
        @include experimental('filter', drop-shadow(0 -1px 0 black));
    }
    
    .user-link {
        display: inline-block;
        font-weight: bold;
    }
    
    .user-avatar {
        @include box-shadow(0 0 5px rgba(black, .3));
        margin-right: 15px;
        vertical-align: -10px;
    }
    
    .header-separator {
        border-left: 1px solid rgba(black, .1);
        border-right: 1px solid rgba(white, .1);
        display: inline-block;
        height: 1.5em;
        margin: 0 15px;
        vertical-align: middle;
    }
    
    a {
        color: tint($accent-color, 60%);
        text-decoration: none;
        text-shadow: 0 -1px 0 black;
        
        &:hover,
        &:focus { color: white; }
    }
}