@import 'html/data-header';
@import 'html/nav-list';

.x-body {
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;

    hr {
        border: 1px solid $border-color;
        border-width: 1px 0 0;
        margin: 1.5em 0;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

a {
    color: $base-color;

    &:visited {
        color: darken($base-color, 12);
    }
}