$panel-base-color: dynamic($bg-color1);
$panel-body-background-color : dynamic($bg-color2);
$panel-frame-background-color: dynamic($bg-color3);
$panel-header-font-weight: 700;
$panel-header-color: dynamic($fg-color2);