.site.header,
.site.footer {
    background: rgba(mix($accent-color, $text-color), .08);
}

.site.header {
    > .inner {
        position: relative;
        
        @media #{$mq-phone} {
            padding-bottom: 0;
        }
    }    
}

.branding {
	float: none;
	font-size: 1em;
	
	.text {
		vertical-align: -1em;
	}

	.school-name {
		display: block;
		font-size: 1.75em;
		line-height: 1;
	}
	
	.school-slogan {
		display: block;
		font-size: 1.25em;
		line-height: 1.25;
		margin-top: .125em;
	}

	.logo {
		margin-right: .5em;
	}
	
	@media #{$mq-phone} {
		margin: .5em 0 0;
		overflow: hidden;

		.logo {
			float: left;
			height: 48px;
			margin-right: .75em;
		}

		.text {
			display: block;
			margin-top: .25em;
			overflow: hidden;
		}
		
		.school-name {
			font-size: 1.25em;
		}
		
		.school-slogan {
			font-size: 1em;
			margin-bottom: .75em;
		}
	}
	
	@media #{$mq-tablet} {
    	margin-top: 1em;
	}
	
	@media #{$mq-wide} {
    	margin: 0;
	}
}

.site-search {
	@media #{$mq-wide} {
		bottom: 2em;
		position: absolute;
		right: 1.5em;
	}
}