.site-branding {
    background-color: rgba(white, 0.85);

    > .inner {
        padding-bottom: 0.5em;
        padding-top: 0.75em;
    }

    a {
        color: $link-color;
        text-decoration: none;
    }
}

.site-search {
	@media #{$mq-wide} {
		bottom: 2em;
		position: absolute;
		right: 1.5em;
	}
}
