@mixin shortcut-color( $name: null, $color: $text-color, $hover-color: null ) {
    $selector: if($name, unquote('.shortcut.#{$name}'), unquote('.shortcut'));
    $faded-color: tint($color, 92%);

    // use the tint color for hover if this tint is named, or fall back to $link-color for default color scheme
    @if $hover-color == null { $hover-color: if($name, $color, $link-color); }

    #{$selector} a {
        background-color: mix($faded-color, $page-bg-color);
        @include background-image(linear-gradient( $faded-color, $page-bg-color ));
        border-color: mix($border-color, $color, 80%);
        
        &:hover,
        &:focus {
            background: rgba($hover-color, .15);
            border-color: $hover-color;
            
            .muted {
                color: $hover-color;
            }
        }
    }
}

@include shortcut-color();
@include shortcut-color('manage', $color: $danger-color);

.dashboard-tpl {
    .page-header {
        margin: 1em 0 0;
    }
}

.dashboard-header {
    margin: 2em 0 .5em;
}

.dashboard-shortcuts {
    list-style: none;
    margin-top: 0;
    padding: 0;
}

.shortcut {
    display: inline-block;
    margin: 0 .25em .5em 0;
    position: relative;
    vertical-align: top;
    
    .pin {
        left: .5em;
        position: absolute;
        top: .5em;
    }
    
    a {
        border-style: solid;
        border-width: 1px;
        @include border-top-right-radius(1em);
        @include box-shadow(0 2px 4px -2px rgba(black, .2));
        color: inherit;
        display: table-cell;
        height: 4.25em;
        line-height: 1;
        padding: .5em;
        position: relative;
        text-decoration: none;
        vertical-align: bottom;
        width: 7.5em;
    }
}

.shortcut-stub {
    a {
        @include border-radius(0);
        color: mix($muted-color, $text-color);
        display: block;
        font-size: small;
        height: auto;
        margin: -1px .25em 0;
        padding: .1875em .375em;
        position: static;
        width: auto;
        
        &:hover,
        &:focus {
            color: mix($text-color, $link-color);
            position: relative;
        }
        
        &::before {
            content: '\21b3';
            margin-right: .25em;
        }
    }
    
    &:last-of-type a {
        @include border-bottom-left-radius(.5em);
    }
}