.hero-ct {
    box-sizing: border-box;
    display: none;

    .reveal-hero & {
        display: block;
        margin: 1.5em 0;
    }

    @media #{$mq-wide} {
        bottom: 0;
        left: 50%;
        position: absolute;
        @include translateX(-50%);
    }
}

.hero-text {
    background-color: rgba($text-color, .9);
    color: $page-bg-color;
    font-size: large;
    padding: 1em;

    > :last-child {
        margin-bottom: 0;
    }

    @media #{$mq-wide} {
        bottom: 2em;
        position: absolute;
        right: 0;
        width: 61.8%;
    }
}
