.avatar {
    @include background-size(cover);
}

$roster-avatar-size: 64px;
$roster-item-width: $roster-avatar-size * 1.3125;
$roster-font-size: $font-size * .6875;
$roster-line-height: $line-height * .8;

.roster {
    margin: 0;
    padding: 0;
    
    li {
        display: inline-block;
        font-size: $roster-font-size;
        height: $roster-avatar-size + (($roster-line-height * $roster-font-size) * 2.5);
        line-height: $roster-line-height;
        list-style: none;
        margin-bottom: .75em;
        overflow: hidden;
        text-align: center;
        vertical-align: text-bottom;
        width: $roster-item-width;
    }
    
    a {
        text-decoration: none;
        
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
    
    .avatar {
        margin: 0 auto .25em;
    }
}

.about-bio {
    #{headings()} {
        color: inherit;
        font-size: 1em;
    }
    
    .well-title {
        color: $heading-color;
        font-size: 1.2em;
    }
}


.profile-contact-info {

    dd {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}