.avatar {
    @include background-size(cover);
}

.roster {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;

    li {
        font-size: .75em;
        line-height: 1.25;
        list-style: none;
        min-width: 0;
        text-align: center;
    }

    a {
        display: block;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .avatar {
        border-radius: 100%;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        margin: 0 auto .25em;
    }

    .name {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.about-bio {
    #{headings()} {
        color: inherit;
        font-size: 1em;
    }

    .well-title {
        color: $heading-color;
        font-size: 1.2em;
    }
}


.profile-contact-info {

    dd {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
