$messagebox-body-background-color: dynamic($bg-color2);
$messagebox-footer-background-color: dynamic($bg-color1);
$messagebox-header-background-color: dynamic($bg-color1);
$messagebox-error-glyph-color: dynamic($fg-color3);
$messagebox-warning-glyph-color: dynamic($fg-color3);
$messagebox-question-glyph-color: dynamic($fg-color3);