.person-records {
    list-style: none;
    margin: 0;
    padding-left: 0;
    
    .person-record {
        border-bottom: 1px solid $rule-color;
        padding: $font-size ($font-size*0.8);
        
        &:hover {
            background-color: tint($accent-color, 85%);
        }

        .meta {
            color: $muted-color;

            .type {
                font-weight: bold;
            }

            .author {
                font-size: 0.8em;
                margin-left: .375em;
                text-transform: uppercase;
            }
            
            .date {
                float: right;
                font-size: smaller;
                
                .token-extended {
                    display: none;
                }
            }
        }

        .description {
            clear: right;
        }
    }
}