.person-records {
    list-style: none;
    margin: 0;
    padding-left: 0;
    
    .person-record {
        border-bottom: 1px solid $rule-color;
        padding: $font-size ($font-size*0.8);
        
        &:hover {
            background-color: tint($accent-color, 85%);
        }
        
        .meta {
            .author {
                color: $muted-color;
                font-size: 0.8em;
                padding: 0 0.3333em;
                text-transform: uppercase;
            }
            
            .date {
                background-color: tint($accent-color, 75%);
                border-radius: 3px;
                font-size: 0.8em;
                float: right;
                padding: 0.3333em;
                
                .token-extended {
                    display: none;
                }
            }
            
            &:hover {
                
                .date {
                    background-color: tint($accent-color, 70%);
                
                    .token-extended {
                        display: inline;
                    }
                }
            }
        }

        
        .description {
            clear: right;
            margin-top: $font-size;
        }
    }
}