.person-records {
    list-style: none;
    margin: 0;
    padding-left: 0;

    .person-record {
        border-bottom: 1px solid $rule-color;
        padding: $font-size ($font-size*0.8);

        .token-extended {
            display: none;
        }

        &:hover {
            background-color: tint($accent-color, 85%);

            .token-extended {
                display: inline;
            }
        }

        .meta {
            color: $muted-color;

            .type {
                font-weight: bold;
            }

            .author {
                font-size: 0.8em;
                margin-left: .375em;
                text-transform: uppercase;
            }

            .date {
                float: right;
                font-size: smaller;
            }
        }

        .description {
            clear: right;
        }
    }
}