//@import 'http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic';
//@import 'fonts/font-awesome-4.0.3/css/font-awesome.css';

@mixin fa-glyph {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}