// use this mixin in src/button/Button.scss to fit properly in the cascade
@mixin glyph-color($name, $color) {
    .glyph-#{$name},
    .glyph-#{$name} .x-btn-glyph {
        color: $color;
    }
}

/** 
  * Color for "inactive" or muted glyphs
  */
$glyph-inactive-color: #c9c9c9;     // gray

/** 
  * Color for star glyph (e.g., primary contact point)
  */
$glyph-star-color: #daa520;         // goldenrod

/** 
  * Color for shield glyph (e.g., guardian)
  */
$glyph-shield-color: #158;          // cobalt

/**
  * Color for ambulance glyph (e.g., emergency contact)
  */
$glyph-emergency-color: red;