// Variable defs
// -----------------------------------------------------------------------------

/** 
  * Color for success messages or positive actions (such as Save)
  */
$success-color: #5fb31d;

/** 
  * Color for error messages (stronger than warnings)
  * or negative/destructive actions (such as Delete)
  */
$danger-color: #b3241d;



// Generic classes
// -----------------------------------------------------------------------------

.glyph-danger {
    color: $danger-color;
}

/** 
  * Color for "inactive" or muted glyphs
  */
$glyph-inactive-color: #c9c9c9;
.glyph-inactive {
    color: $glyph-inactive-color;
}


// Specific classes
// -----------------------------------------------------------------------------

/** 
  * Color for star glyph (e.g., primary contact point)
  */
$glyph-star-color: #daa520;
.glyph-star {
    color: $glyph-star-color; // goldenrod
}

/** 
  * Color for shield glyph (e.g., guardian)
  */
$glyph-shield-color: #158;
.glyph-shield {
    color: $glyph-shield-color; // cobalt
}
