$window-background-color: #e0e0e0;
$window-border-width: 0;
$window-ignore-frame-padding: true;

$window-body-background-color: #f5f5f5;

$window-header-background-color: #999;
$window-header-font-family: $heading-font;
$window-header-font-weight: bold;
$window-header-font-size: 1.25 * $font-size;
$window-header-line-height: 1.25;
$window-header-padding: 8px 10px 8px 16px;
$window-header-text-padding: 8px 5px 2px;