$accordion-header-background-color: $dark-ui-color;
$accordion-header-border-width: 0 0 1px;
$accordion-header-color: white;
$accordion-header-padding: ($font-size/3)+1 ($font-size/3) ($font-size/3) $font-size;
$accordion-header-text-padding: 1px 0 0;