$tab-shadow: rgba(black, .2);
$tab-highlight: rgba(white, .3);

.x-tab {
    border-left-color: $tab-shadow;
    border-right-color: $tab-highlight;
    border-width: 0 1px;
    outline: none; // get rid of ugly focus ring
    
    &:first-child { border-left-width: 0; }
    &:last-child  { border-right-width: 0; }
    
    &.x-tab-active {
        border-color: $tab-shadow;
        
        & + .x-tab {
            border-left-color: $tab-highlight;
        }
    }
}

.x-tab-glyph {
    @include fa-glyph;
    left: $tab-text-padding;
    margin-top: $button-small-icon-size / -2;
    top: 50%;
    
}