.data-header {
    background-color: tint($base-color, .9);

    .record-image {
        
    }

    .record-data {
    }

    .record-title {
        font-size: 2em;
        font-weight: 300;
    }
}