.site.header {
    > .inner {
        position: relative;
        
        @media #{$mq-phone} {
            padding-bottom: 0;
        }
    }    
}

.site.footer {
    &.has-image {
        background-color: #444;
        border-top: 2px solid #444;
        
        .footer-info {
            background: rgba(white, .9);
            float: right;
            padding: 2em 1.5em;
            width: 250px;
        }
    
        > .inner {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0;
        }
    
        address {
            display: inline-block;
        }
    
        small {
            clear: both;
            display: block;
            margin: 1em 0 0;
        }        
    }
}