$base-color: #008cc1 !default; // Slate blue
$contrast-color: #e8910c !default; // orange
$warning-color: red !default;

$page-bg-color: #fbfbfb !default;
$link-color: $base-color !default;
$text-color: #333 !default;
$muted-color: #999 !default;
$border-color: #bbb !default;

$body-font: Lato, 'Helvetica Neue', Helvetica, sans-serif !default;
$heading-font: Arvo, Rockwell, Georgia, serif !default;

$font-size: 16px !default;
$line-height: 1.5 !default;

$mq-phone:  'screen and (max-width:  480px)' !default;
$mq-tablet: 'screen and (min-width:  481px)' !default;
$mq-wide:   'screen and (min-width:  800px)' !default;
$mq-hd:     'screen and (min-width: 1280px)' !default;