$base-color:    #008cc1     !default;
$accent-color:  $base-color !default;
$page-bg-color: #f5f5f5     !default;

$heading-color: change-color($accent-color, $saturation: 60) !default;
$link-color:    $accent-color !default;

$body-font:     Lato, 'Helvetica Neue', Tahoma, sans-serif !default;
$heading-font:  Sanchez, Rockwell, Georgia, serif          !default;

// button colors
$destructive-color: #eed5d5 !default;