.x-grid-cell-inner-action-col {
    font-size: $grid-actioncolumn-glyph-size;
    line-height: 1;
    padding: 11px 10px 11px 0;
}

.x-action-col-glyph {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    height: 14px;
    line-height: 16px;
    opacity: .85;
    text-align: center;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover,
    &:focus {
        opacity: 1;
    }

    + .x-action-col-glyph {
        margin-left: .25em;
    }
}
