$window-body-border-width: 0;
$window-border-radius: 4px;
$window-border-width: 0;
$window-header-background-color: $panel-header-background-color;
$window-header-border-width: 0;
$window-header-padding: 0 10px;
$window-header-text-padding: 5px;