.slate-nav-list {
    border-top: 1px solid rgba(black, .1);
    margin: -10px -10px 0;
    padding: 0;
}

.slate-nav-list-item {
    border-bottom: 1px solid rgba(black, .1);
    list-style: none;
    margin: 0;
    padding: 0;
}

.slate-nav-list-link {
    background: white;
    display: block;
    font-size: small;
    padding: 5px 15px;
    text-decoration: none;
    
    &:hover,
    &:focus {
        background: #eaeaea;
    }

    &::before {
        @include fa-glyph;
        color: #999;
        content: '\f105';
        font-size: 14px;
        width: 1em;
    }            

    &.selected {
        background: rgba(#00547b, .15);
        
        &::before {
            color: inherit;
            content: '\f101';
        }
    }    
}
