$accent-color: #f0f     !default;
$dark-ui-color: #f00    !default;

/**
  * Default font-size to use for glyphs
  */
$glyph-size: 14px       !default;

/** 
  * Color for success messages or positive actions (such as Save)
  */
$success-color: #5fb31d !default;

/** 
  * Color for error messages (stronger than warnings)
  * or negative/destructive actions (such as Delete)
  */
$danger-color: #b3241d  !default;

@import 'glyph-colors';
