.slate-nav-list {
    border-top: 1px solid rgba(black, .1);
    margin: -10px -10px 0;
    padding: 0;
}

.slate-nav-list-item {
    border-bottom: 1px solid rgba(black, .1);
    list-style: none;
    margin: 0;
    padding: 0;
}

.slate-nav-list-link {
    display: block;
    font-size: small;
    padding: 5px 15px;
    text-decoration: none;
    
    &.selected {
        background: rgba(black, .1);
    }
    
    &:hover,
    &:focus {
        background: white;
    }

    &::before {
        @include fa-glyph;
        content: '\f105';
        font-size: 14px;
        margin-right: .5em;
    }            
}
