// to be replaced by imported emergence variables
$body-font:     Lato, 'Helvetica Neue', Tahoma, sans-serif;
$page-bg-color: #f5f5f5;
$text-color:    #333;

$base-color:    #999;
$color:         $text-color;
$font-family:   $body-font;
$font-weight:   normal;