.slate-simplepanel {
    border-radius: 0 0 .25em .25em;
    box-shadow: 0 .125em .25em rgba(black, (1/6));
    overflow: hidden;

    &.is-loading {
        min-height: 150px;
    }

    .empty-text {
        padding: 1.5em;
        text-align: center;
    }
}

.slate-simplepanel-header {
    background-color: #999;
    border-radius: .25em .25em 0 0;
    color: $panel-header-color;
    padding: .75em 1em;

    .x-btn {
        border: none;
    }
}

.slate-simplepanel-title {
    font-family: $heading-font;
    font-size: 1.375em;
    font-weight: normal;
    line-height: 1;
    padding-top: .125em;
    -webkit-font-smoothing: antialiased;

    small {
        color: mix($base-color, $panel-header-color, 30%);
        font-size: .675em;
        margin-left: .25em;
        text-transform: uppercase;
    }
}

.slate-simplepanel-body {
    padding: 0 1em;
}