// overrides
$base-color: #1f83b1 !default;
$body-background-color: transparent !default;
$color: #333 !default;
$font-family: Lato !default;
$font-size: 14px !default;


// custom
$dark-ui-color: #153b4c !default;
$muted-color: #777 !default;

/**
  * General line color
  */
$rule-color: tint($dark-ui-color, 75%);