.pages-list {
	list-style: none;
	padding: 0;
	
	@media #{$mq-tablet} { @include columns(2); }
	@media #{$mq-wide}   { @include columns(3); }
}

.pages-list-item {
	display: block;
	
	@media #{$mq-phone} {
		border-bottom: 1px solid rgba($text-color, .2);
		line-height: 1.1;
		
		a {
			display: block;
			padding: .75em;
			text-decoration: none;
			
			&:hover,
			&:focus,
			&:active {
				background: $link-color;
				color: $page-bg-color;
			}
		}
	}
}