/* layout */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}


/* bootstrap fixes */
.alert > :last-child, .card-body > :last-child {
    margin-bottom: 0;
}

.btn-group-xs > .btn, .btn-xs {
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.breadcrumb:empty {
    display: none;
}


/* site-admin styles */
.notfound {
     background-image: url('/img/emergence/logo.png');
     background-size: 300px;
     background-position: center;
     background-repeat: no-repeat;
     height: 300px;
}

.navbar-right {
    .load-red a { color: #a94442 !important; }
    .load-yellow a  { color: #8a6d3b !important; }
    .load-green a { color: #18cd00 !important; }
}

.mounts {
    .bar {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        height: 75px;
        width: 100%;
        position: relative;
        background-color: #444444;
        color: #FFFFFF;
        border: 1px solid #000;
        white-space: nowrap;
    }

    .bar-fill {
        height: 73px;
        top: -85px;
        width: 100%;
        position: relative;
        background-color: #3783c3;
        float: left;
    }

    .bar-label {
        position: relative;
        left: 15px;
        top: -5px;
        font-size: 60px;
        color: #eee;
        z-index: 50;
        width: 98%;
    }

    .size {
        position: relative;
        float: right;
        font-size: 60px;
        color: #eee;
        z-index: 50;
    }
}

table pre {
    padding: 1.5px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    .form-signin-heading,
    .checkbox {
        margin-bottom: 10px;
    }
    .checkbox {
        font-weight: normal;
    }
    .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-control:focus {
        z-index: 2;
    }
    input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
