.x-tab-default {
    border-bottom-color: transparent !important;
}

.x-tab-default .x-tab-close-btn {
    margin-top: -8px;
    right: 6px;
    top: 50%;
    visibility: visible;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
