/* line 61, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 5, ../../sass/reports/_general.scss */
#baseline-overlay {
  opacity: .4 !important;
  pointer-events: none;
}

/* line 7, ../../sass/reports/_general.scss */
body {
  box-sizing: border-box;
  color: #111111;
  font-family: Lato, Arial, Helvetica, sans-serif;
  margin: auto;
  orphans: 3;
  padding: .25in .5in;
  width: 8.5in;
  widows: 3;
}

/* line 18, ../../sass/reports/_general.scss */
h1 {
  font-size: 3.1875em;
  line-height: 1.41176em;
  margin: 0.47059em 0;
}

/* line 23, ../../sass/reports/_general.scss */
h2 {
  font-size: 1.75em;
  line-height: 1.71429em;
  margin: 0;
}

/* line 28, ../../sass/reports/_general.scss */
h3 {
  font-size: 1.3125em;
  line-height: 1.14286em;
  margin: 0;
}

/* line 33, ../../sass/reports/_general.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
}

/* line 38, ../../sass/reports/_general.scss */
small, aside {
  font-size: 0.75em;
  line-height: 0em;
  color: #777777;
}

/* line 43, ../../sass/reports/_general.scss */
p, ul, ol {
  margin: 0 0 1.5em;
}

/* line 47, ../../sass/reports/_general.scss */
a {
  color: #0077bb;
  text-decoration: none;
}
/* line 51, ../../sass/reports/_general.scss */
a:hover, a:focus {
  color: #0097ee;
}
/* line 52, ../../sass/reports/_general.scss */
a:active {
  color: #0067a2;
}

/* line 56, ../../sass/reports/_general.scss */
.print-url::after {
  content: " <" attr(href) ">";
  font-size: 90%;
}

/* line 62, ../../sass/reports/_general.scss */
.doc-group {
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 1.4375em;
}

/* line 66, ../../sass/reports/_general.scss */
.group-title {
  margin: 0 0 0.85714em;
  page-break-after: avoid;
}

/* line 71, ../../sass/reports/_general.scss */
.doc-item {
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 1.4375em;
  margin-bottom: 1.5em;
  border-color: #ccc;
  clear: both;
}

/* line 78, ../../sass/reports/_general.scss */
.item-header {
  margin-bottom: 1.5em;
  page-break-after: avoid;
  page-break-inside: avoid;
}

/* line 84, ../../sass/reports/_general.scss */
.item-title {
  font-weight: normal;
}
/* line 87, ../../sass/reports/_general.scss */
.item-title small {
  line-height: 1;
  margin-left: .25em;
  margin-top: .3em;
}

/* line 94, ../../sass/reports/_general.scss */
.meta {
  color: #777777;
}

/* line 98, ../../sass/reports/_general.scss */
.item-datetime {
  float: right;
}

/* line 102, ../../sass/reports/_general.scss */
.item-body {
  margin: 1.5em;
}

/* line 107, ../../sass/reports/_general.scss */
.subsection {
  clear: both;
  overflow: hidden;
}
/* line 111, ../../sass/reports/_general.scss */
.subsection + .subsection {
  border-top-style: dotted;
  border-top-width: 0.0625em;
  padding-top: 1.4375em;
  border-color: #ccc;
}

/* line 117, ../../sass/reports/_general.scss */
.subhead {
  margin-bottom: 0;
}
/* line 120, ../../sass/reports/_general.scss */
.subhead small {
  font-weight: normal;
  margin-left: .5em;
  text-transform: uppercase;
}
/* line 127, ../../sass/reports/_general.scss */
.subhead.float-left, .subhead.float-right {
  float: left;
  margin-bottom: 1.5em;
  width: 20%;
}
/* line 132, ../../sass/reports/_general.scss */
.subhead.float-left small, .subhead.float-right small {
  display: block;
  line-height: inherit;
  margin: 0;
}
/* line 139, ../../sass/reports/_general.scss */
.subhead.float-right {
  float: right;
  padding-left: 1.5em;
}

/* line 145, ../../sass/reports/_general.scss */
.grade {
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 1.4375em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 1.4375em;
  border-color: #ccc;
  margin: 1.5em 0;
  text-align: center;
}

/* line 153, ../../sass/reports/_general.scss */
.freetext, .freetext * {
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
}

/* line 160, ../../sass/reports/_general.scss */
dl {
  display: table;
  margin: 1.5em 0;
  width: 100%;
}

/* line 166, ../../sass/reports/_general.scss */
.dli {
  display: table-row;
}

/* line 170, ../../sass/reports/_general.scss */
dd, dt {
  display: table-cell;
}

/* line 174, ../../sass/reports/_general.scss */
dt {
  color: #777777;
  font-size: 0.75em;
  line-height: 0em;
  padding-right: 1.5em;
  text-align: right;
  text-transform: uppercase;
  width: 16.66667%;
}

/* line 1, ../../sass/reports/_people.scss */
.people .subhead {
  float: left;
  margin-bottom: 1.5em;
  width: 20%;
}
/* line 6, ../../sass/reports/_people.scss */
.people .subhead small {
  display: block;
  line-height: inherit;
  margin: 0;
}
/* line 13, ../../sass/reports/_people.scss */
.people dl {
  float: right;
  margin-top: 0;
  width: 80%;
}
/* line 19, ../../sass/reports/_people.scss */
.people dt {
  padding: 0 1.5em;
}
