$grid-grouped-header-background-color: white !default;
$grid-grouped-header-padding: 7px 10px !default;

$grid-grouped-title-color: $base-color;
$grid-grouped-title-font-size: 1.375em;
$grid-grouped-title-font-weight: normal;
$grid-grouped-title-line-height: (4/3);